@media all and (max-width: 1279px) {
  body {
    font-size: 16px;
  }

  h3 {
    font-size: 28px;
}

  .header {
    font-size: 10px;

  }

  .button {
    width: 175px;
    height: 50px;
    font-size: 14px;
  }

  .home {
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 24px;
      margin: 150px 0 5px;
    }
    &__description {
      font-size: 18px;
    }
  }

  .about {
    padding-bottom: 80px;
    &__title {
      margin: 10px 0 10px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__description {
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 15px;
    }
    &__item {
      padding: 2px 0;
    }
    &__button {
      margin: 20px 0;
    }
    &__img {
      height: 400px;
      top: 70px;
    }
  }

  .advantages {
    padding-bottom: 85px;
    &__icon {
      width: 45px;
    }
  }

  .safety {

    padding-bottom: 100px;
    //padding-top: 100px;

    &__title {
      margin-bottom: 25px;
    }
    &__description {
      margin-bottom: 30px;
    }
    &__img {
      &--top {
        //left: 250px;
        right: 120px;
        height: 350px;
      }
      &--back {
        height: 300px;
      }
    }
}


  .comfort {

    padding-bottom: 100px;
    padding-top: 100px;

    &__title {
      margin-bottom: 25px;
    }
    &__description {
      margin-bottom: 30px;
    }
    &__img {
      &--top {
        left: 250px;
        height: 300px;
      }
      &--back {
        height: 350px;
      }
    }
  }

  .plan {
    padding-top: 70px;
    &__img {
      width: 750px;
      &--2 {
       // margin-left: 50px;
        margin-bottom: 70px;
      }
    }
  }


  .contacts {
    &__title {
      margin: 150px 0 15px 25px;
    }
    &__item {
      margin: 15px 0 15px 25px;
    }
  }
}

@media all and (max-width: 795px) { 
  .gallery__button-wrapper {
   width: 760px;
  }
}


@media all and (max-width: 767px) {
  .header {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    &__contacts {
      display: flex;
      justify-content: space-between;
    }

  }

  .menu {
    display: none;
  }

  .home {
    &__wrapper {
      min-height: calc(100vh - 60px);
    }

    &__subtitle {
      font-size: 18px;
      margin: 130px 0 5px;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 15px;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 26px;
    }
  }

  .advantages {
    .row {
      margin-left: 0;
    }
  }

  .about {
    .row {
      justify-content: center !important;
    }
    &__img {
      display: none;
    }
    &__wrapper {
      padding-left: 25px !important;
      max-width: 300px;
    }
  }

  .gallery {
    padding-bottom: 10px;
    &__wrapper {
      left: calc((100vw - 1280px) / 2 - 480px);
    }
    &__img {
      height: 200px;
    }
    &__button-wrapper {
      top: -125px;
      width: 330px;
    }
  }

  .safety, .comfort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
      text-align: center;
    }
    &__img {
      position: initial;
      height: auto;
      max-height: 200px;
      order: 2;
      &--back {
        display: none;
      }
    }
  }

  .safety {
    padding-bottom: 20px;
  }

  .comfort {
    padding-top: 0;
  &__button {
    margin: 0 auto;
  }
  }

  .plan {
    &__title {
      margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }
    &__img {
      width: 100vw;
      /* position: unset; */
     // margin-left: 0;
    }
  }

  .contacts {
    &__wrapper {
      height: auto;
    }
    &__title {
      margin-top: 15px;
    }
}

 }
