.button:hover {
  opacity: 0.8;
}

/* ---header---*/
.menu__item {
  cursor: pointer;
  position: relative;
}

.menu__item .menu__link:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: -3px;
  content: '';
  background: #cdd5fe;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item .menu__link:before {
  height: 0px;
}

.menu__item .menu__link:hover:before {
  height: 130%;
  z-index: -1;
}

/* ---header---*/
/* ---advantages---*/
.advantages__line {
  -webkit-animation: line 1s ease-out;
          animation: line 1s ease-out;
}

@-webkit-keyframes line {
  0% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 50%;
    left: 0%;
  }
}

@keyframes line {
  0% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 50%;
    left: 0%;
  }
}

/* ---advantages---*/
/* ---gallery--- */
.gallery__button img {
  cursor: pointer;
}

.gallery__button img:hover {
  opacity: 0.7;
}

/* ---gallery--- */
/* ---contacts---*/
.contacts__link:hover {
  opacity: 0.5;
}

/* ---contacts---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h3 {
  font-family: "Play", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  text-transform: uppercase;
}

/* ---header---*/
.header {
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.667;
  color: #000;
  font-size: 16px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---/header---*/
/* ---button---*/
.button {
  width: 215px;
  height: 60px;
  background-color: #202c7a;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--light {
  background-color: none;
  border: 1px solid white;
}

/* ---button---*/
/* ---home---*/
.home {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.home__wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: calc(100vh - 122px);
}

.home__title {
  font-family: "Play", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.home__subtitle {
  font-family: "Play", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  text-align: center;
  padding: 10px 0;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  margin: 200px 0 5px;
}

.home__description {
  font-size: 30px;
  margin-bottom: 35px;
}

.home__button {
  margin-bottom: 70px;
}

/* ---home---*/
/* ---advantages---*/
.advantages {
  padding-bottom: 185px;
  padding-top: 100px;
}

.advantages__item {
  margin: 25px 0;
}

.advantages__description {
  width: 65%;
}

.advantages__icon {
  padding-bottom: 10px;
}

.advantages__line {
  border-bottom: 1px solid #202c7a;
  width: 50%;
  margin-bottom: 10px;
}

/* ---advantages---*/
/* ---about---*/
.about {
  padding-bottom: 190px;
}

.about__img {
  position: absolute;
  z-index: -1;
  right: 108%;
}

.about__title {
  margin: 10px 0 25px;
}

.about__subtitle {
  font-family: "Play", sans-serif;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 400;
}

.about__description {
  font-size: 20px;
  margin-bottom: 30px;
}

.about__item {
  list-style: url("../img/marker.svg");
  padding: 5px 0;
}

.about__button {
  margin: 50px 0;
}

/* ---about---*/
/* ---gallery---*/
.gallery {
  overflow: hidden;
  padding-bottom: 180px;
}

.gallery__wrapper {
  left: calc((100vw - 1280px) / 2 - 515px);
  position: relative;
}

.gallery__img {
  margin: 0 10px;
  cursor: pointer;
}

.gallery__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  position: relative;
  top: -260px;
  margin: 0 auto;
}

.gallery__button--left img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* ---gallery---*/
/* ---safety---*/
.safety {
  position: relative;
  padding-bottom: 300px;
}

.safety__wrapper {
  background: white;
  padding: 35px 15px;
}

.safety__title {
  margin-bottom: 55px;
}

.safety__img {
  position: absolute;
}

.safety__img--back {
  right: 0px;
  top: -120px;
}

.safety__img--top {
  right: 350px;
  top: -30px;
}

/* ---safety---*/
/* ---comfort---*/
.comfort {
  position: relative;
  padding-bottom: 300px;
  padding-top: 130px;
  overflow: hidden;
}

.comfort__wrapper {
  background: white;
  padding: 35px 15px;
}

.comfort__title {
  margin-bottom: 55px;
}

.comfort__description {
  margin-bottom: 60px;
}

.comfort__img {
  position: absolute;
}

.comfort__img--back {
  z-index: -1;
  left: 0px;
  top: 95px;
}

.comfort__img--top {
  left: 400px;
  top: -5px;
}

/* ---comfort---*/
/* ---feedback---*/
.feedback {
  background-color: #202c7a;
  color: white;
}

.feedback__wrapper {
  margin: 80px 0;
}

.feedback__input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px 0;
  color: white;
}

.feedback__button {
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.feedback__title {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

/* ---feedback---*/
/* ---plan---*/
.plan {
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
}

.plan__title {
  margin-bottom: 70px;
}

.plan__img {
  cursor: pointer;
}

.plan__img--1 {
  margin-left: -80px;
  margin-bottom: 30px;
}

.plan__img--2 {
  margin-left: 100px;
  margin-bottom: 150px;
}

/* ---plan---*/
/* ---contacts---*/
.contacts {
  position: relative;
}

.contacts__map {
  position: absolute;
  width: 100%;
}

.contacts__wrapper {
  background: white;
  height: 550px;
}

.contacts__title {
  margin: 150px 0 50px 85px;
}

.contacts__item {
  margin: 15px 0 15px 85px;
}

/* ---contacts---*/
/* ---footer---*/
.footer {
  height: 90px;
  text-align: center;
  background-color: #101538;
}

.footer span {
  color: white;
  display: inline-block;
  margin-top: 30px;
}

/* ---footer---*/
@media all and (max-width: 1279px) {
  body {
    font-size: 16px;
  }
  h3 {
    font-size: 28px;
  }
  .header {
    font-size: 10px;
  }
  .button {
    width: 175px;
    height: 50px;
    font-size: 14px;
  }
  .home__title {
    font-size: 32px;
  }
  .home__subtitle {
    font-size: 24px;
    margin: 150px 0 5px;
  }
  .home__description {
    font-size: 18px;
  }
  .about {
    padding-bottom: 80px;
  }
  .about__title {
    margin: 10px 0 10px;
  }
  .about__subtitle {
    font-size: 24px;
  }
  .about__description {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .about__item {
    padding: 2px 0;
  }
  .about__button {
    margin: 20px 0;
  }
  .about__img {
    height: 400px;
    top: 70px;
  }
  .advantages {
    padding-bottom: 85px;
  }
  .advantages__icon {
    width: 45px;
  }
  .safety {
    padding-bottom: 100px;
  }
  .safety__title {
    margin-bottom: 25px;
  }
  .safety__description {
    margin-bottom: 30px;
  }
  .safety__img--top {
    right: 120px;
    height: 350px;
  }
  .safety__img--back {
    height: 300px;
  }
  .comfort {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .comfort__title {
    margin-bottom: 25px;
  }
  .comfort__description {
    margin-bottom: 30px;
  }
  .comfort__img--top {
    left: 250px;
    height: 300px;
  }
  .comfort__img--back {
    height: 350px;
  }
  .plan {
    padding-top: 70px;
  }
  .plan__img {
    width: 750px;
  }
  .plan__img--2 {
    margin-left: 50px;
    margin-bottom: 70px;
  }
  .contacts__title {
    margin: 150px 0 15px 25px;
  }
  .contacts__item {
    margin: 15px 0 15px 25px;
  }
}

@media all and (max-width: 795px) {
  .gallery__button-wrapper {
    width: 760px;
  }
}

@media all and (max-width: 767px) {
  .header {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .home__wrapper {
    min-height: calc(100vh - 60px);
  }
  .home__subtitle {
    font-size: 18px;
    margin: 130px 0 5px;
  }
  .home__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .home__description {
    font-size: 16px;
    margin-bottom: 26px;
  }
  .advantages .row {
    margin-left: 0;
  }
  .about .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .about__img {
    display: none;
  }
  .about__wrapper {
    padding-left: 25px !important;
    max-width: 300px;
  }
  .gallery {
    padding-bottom: 10px;
  }
  .gallery__wrapper {
    left: calc((100vw - 1280px) / 2 - 480px);
  }
  .gallery__img {
    height: 200px;
  }
  .gallery__button-wrapper {
    top: -125px;
    width: 330px;
  }
  .safety, .comfort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .safety__title, .comfort__title {
    text-align: center;
  }
  .safety__img, .comfort__img {
    position: initial;
    height: auto;
    max-height: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .safety__img--back, .comfort__img--back {
    display: none;
  }
  .safety {
    padding-bottom: 20px;
  }
  .comfort {
    padding-top: 0;
  }
  .comfort__button {
    margin: 0 auto;
  }
  .plan__title {
    margin-bottom: 30px;
  }
  .plan__img {
    width: 100vw;
    /* position: unset; */
    margin-left: 0;
  }
  .contacts__wrapper {
    height: auto;
  }
  .contacts__title {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */